<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>GraphQL</title>
  <link rel="shortcut icon" href="favicon.png" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two|Source+Sans+Pro:300" />
  <link rel="stylesheet" href="prism.css" />
  <link rel="stylesheet" href="index.css" />
</head>
<body>
  <div id="impress">
    <% slides.forEach(function (slide, index) { %>
      <div class="step" data-y="0" data-x="<%= index * 2000 %>">
        <%- slide %>
      </div>
    <% }) %>
  </div>

  <script src="prism.js"></script>
  <script src="impress.js"></script>
  <script>impress().init();</script>
</body>
</html>
