:root {
  --dark: #333;
}

body {
  height: 100vh;
  font-size: 32px;
  color: var(--dark);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

p {
  margin: 0 0 20px 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

h2 {
  color: #E09;
}

a {
  color: inherit;
  transition: 0.5s;
  padding: 0 0.1em;
  border-radius: 0.2em;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
}

a:hover,
a:focus {
  background: rgba(255, 255, 255, 1);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

.step {
  width: 900px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.big-image {
  width: 400px;
  height: auto;
}

.very-big-image {
  width: 800px;
  height: auto;
  margin-top: 50px;
}

.plus {
  font-size: 70px;
  font-weight: bold;
  margin-top: 60px;
}

.round-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-responsive {
  flex: 1;
}

.flex-gutter {
  flex: 0 0 80px;
}

.flex-200 {
  flex: 0 0 200px;
}
